body {
    background-color: #F1F1F1;
}

.header {
    background-color: #E1D6CB;
    background-image: url(Fiesta.png);
    background-size: 100%;
    text-align: center;
    padding: 18px;
    font: 25px Tiltillium, sans-serif;
    color: white;
    text-shadow: 6px 3px #75675f;
}

.topnav {
    overflow: hidden;
    background-color: white;
}

    /* Navbar links */
    .topnav a {
        float: left;
        display: block;
        color: grey;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
        font: 20px Tiltillium, sans-serif;
    }
        /* Links - change color on hover */
        .topnav a:hover {
            background-color: #afafaf;
            color: white;
        }
.toptitle h1 {
    text-align: center;
    font: 35px Tiltillium, sans-serif;
    font-weight: bold;
    color: white;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-left: 575px;
    margin-right: 575px;
    background-color: #32586d;
    border: solid;
    border-radius: 10px;
}
.column1 {
    width: 40%;
    margin-top: 30px;
    margin-left: 125px;
    display: inline-block;
    border: thick;
    border-style: solid;
    border-color: white;
    background-color: #bdcccf;
    margin-bottom: 200px;
}

    .column1 h1 {
        text-align: center;
        font: 30px Tiltillium, sans-serif;
        padding-left: 15px;
        font-weight: bold;
        color: #222D33;
        padding-top: 5px;
    }

    .column1 h2 {
        text-align: center;
        font: 30px Tiltillium, sans-serif;
        padding-left: 15px;
        font-weight: bold;
        color: #222D33;
        padding-top: 5px;
    }

    .column1 p {
        text-align: left;
        font: 18px Tiltillium, sans-serif;
        margin-left: 50px;
        margin-right: 50px;
        /*border: solid;
        border-color: white;*/
        padding: 10px;
    }
.column2 {
    width: 40%;
    margin-top: 30px;
    margin-left: 30px;
    display: inline-block;
    border: thick;
    border-style: solid;
    border-color: white;
    background-color: #afafaf;
    position: absolute;
}

    .column2 h1 {
        text-align: center;
        font: 30px Tiltillium, sans-serif;
        padding-left: 15px;
        font-weight: bold;
        color: #222D33;
        padding-top: 5px;
    }

    .column2 p {
        text-align: left;
        font: 18px Tiltillium, sans-serif;
        margin-left: 50px;
        margin-right: 50px;
        /*border: solid;
        border-color: white;*/
        padding: 10px;
    }
.aboutMe {
    background-color: #b3a568;
    color: white;
    font: 20px Tiltillium, sans-serif;
    margin-left: 50px;
    margin-right: 50px;
    padding: 10px;
    border:thick;
    border-color: white;
}
.image img {
    display: inline-block;
    width: 675px;
    height: 230px;
    position: absolute;
    top: 680px;
    right: 157px;

}
.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: white;
    color: darkslategrey;
    text-align: center;
    font: 10px Tiltillium, sans-serif;
}