body {
    background-color: #F1F1F1;
}

.header {
    background-color: #E1D6CB;
    background-image: url(Fiesta.png);
    background-size: 100%;
    text-align: center;
    padding: 18px;
    font: 25px Tiltillium, sans-serif;
    color: white;
    text-shadow: 6px 3px #75675f;
}

.topnav {
    overflow: hidden;
    background-color: white;
}

    /* Navbar links */
    .topnav a {
        float: left;
        display: block;
        color: grey;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
        font: 20px Tiltillium, sans-serif;
    }
        /* Links - change color on hover */
        .topnav a:hover {
            background-color: #afafaf;
            color: white;
        }

.toptitle h1 {
    text-align: center;
    font: 35px Tiltillium, sans-serif;
    font-weight: bold;
    color: #676767;
    padding-top: 5px;
    padding-bottom: 5px;

}
.container {
    text-align: center;
    margin-left: 450px;
    margin-right: 450px;
    padding-bottom: 10px;
    border: thick;
    border-style: solid;
    border-color: white;
    background-color: white;
    border-radius: 30px;
    margin-top: 40px;
}
.container h2 {
    color: #32586d;
    font: 30px Tiltillium, sans-serif;
    font-weight: bold;
    text-decoration: underline;
}

.container1 {
    text-align: center;
    margin-left: 350px;
    margin-right: 350px;
    padding-bottom: 10px;
    padding-top: 10px;
    border: thick;
    border-style: solid;
    border-color: white;
    background-color: white;
    border-radius: 30px;
    margin-top: 40px;
    margin-bottom: 200px;
    height: 950px;
}

    .container1 h2 {
        color: #32586d;
        font: 30px Tiltillium, sans-serif;
        font-weight: bold;

    }
    .container1 h3 {
        font: 25px Tiltillium, sans-serif;
        color: #b3a568;

    }
    .container1 a {
        text-decoration: none;
        font: 25px Tiltillium, sans-serif;
        text-align: center;
        color: black;
        display: inline-block;
    }
    .container1 embed{
        display: inline-block;
    }
.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: white;
    color: darkslategrey;
    text-align: center;
    font: 10px Tiltillium, sans-serif;
}